@import "tailwindcss";
/* For Webkit-based browsers (Chrome, Safari, Edge) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.carousel-container {
  overscroll-behavior-x: contain;
}


.typing {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #38bdf8; /* cyan color */
  animation: typing 2.5s steps(20, end) forwards, blink 0.8s step-end 4;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  0%, 100% { border-color: transparent }
  50% { border-color: #38bdf8; }
}


html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Roboto;
  src: url(/src/assets//font/Roboto/Roboto-VariableFont_wdth\,wght.ttf) format('truetype');
  src: url(/src/assets/font/Roboto/static/Roboto-Regular.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(/src/assets/font/Montserrat/static/Montserrat-Regular.ttf) format('truetype');
  src: url(/src/assets/font/Montserrat/Montserrat-VariableFont_wght.ttf) format('truetype');
}

body {
  font-family: Roboto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat;
}